<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Videos</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <iframe width="350" height="220" src="https://www.youtube.com/embed/zlIIKxWyc-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>IMaD:</h4>
                                    <h4 class="subheading">Materials Data Facility</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of Chicago Postdoc Logan Ward explains what the Materials Data Facility is, which is part of of the Midwest Big Data Spoke on Integrative Materials Design, or IMaD. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <iframe width="350" height="220" src="https://www.youtube.com/embed/8mAsfKFgmOI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Access to Large Datasets</h4>
                                    <h4 class="subheading">Transforms Materials Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Northwestern Professor Juande Pablo and UW Madison Professor Dane Morgan discuss how access to large datasets is transforming materials science.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <iframe width="350" height="220" src="https://www.youtube.com/embed/Ay27l-apTU4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Accelerating Materials Discovery</h4>
                                    <h4 class="subheading">with Microscopes and Big Data</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Duke University Professor Catherine Brinson and William Harris of Carl Zeiss Microscopy discuss how the Materials Genome Initiative is making data from specialized microscopes available to materials researchers.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <iframe width="350" height="220" src="https://www.youtube.com/embed/AMCjM67mSUE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Challenges & Opportunities</h4>
                                    <h4 class="subheading">with Modern Materials Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Two research leaders in accelerated materials design sit down and discuss future challenges and opportunities for the field. They speak to how the Materials Genome Initiative methodology brought Gorilla Glass to the assembly line much faster than the average timescale for a newly discovered material—10-20 years. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>New 
                                    <br>Videos
                                    Soon!
                                    <br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>