<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="section-subheading text-muted">Integrated Materials Design (IMaD) is a Spoke project of the <a href="http://midwestbigdatahub.org"> Midwest Big Data Hub</a>, an NSF Big Data Hub</p> 

                    <p>
                    Materials innovation is a pipeline, deriving from a deep understanding and control of material behavior and properties, leading to advanced materials design that  drives economic prosperity, addresses national and regional energy needs, and bolsters national security. Improving this pipeline requires connecting efforts from a variety of independent national and regional materials design efforts to:  consolidate diverse materials data expertise, simplify data access, coalesce on topics of data description and interoperability, enhance and ensure the quality of datasets, and deploy modern scalable data services to support materials researchers by leveraging and synthesizing existing tools to form a cohesive materials data infrastructure. 
                     </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect</h4>
                    <p class="text-muted">Connect academic and industrial data services, researchers, and efforts across the materials data ecosystem.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Access</h4>
                    <p class="text-muted">Provide researchers with simplified access to materials datasets to speed material discovery and transition to industrial application.</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Disseminate</h4>
                    <p class="text-muted">Disseminate Midwest materials data resources, articles, and videos to the public and academic community to increase awareness of materials data assets, capabilities,  and services.</p>
                </div>
            </div>
        </div>
    </section>