<!-- Software Section -->
    <section id="software">            
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Software and Tools</h2>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MAST / MAST ML</h5>
                      </div>
                      <div class="panel-body">
                        <p><a href="https://mast-group.github.io/">MAST</a> provides tools and workflows that make machine learning easier for materials scientists.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Materials Commons</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://materialscommons.org/">Materials Commons</a> is a platform for organizing, collaborating, publishing and sharing research data.
                       </div>
                    </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>PRISMS-PF</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://github.com/prisms-center/phaseField">PRISMS-PF</a> is a powerful, massively parallel finite element code for conducting phase field and other related simulations of microstructural evolution.
                      </div>
                   </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MDF</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://github.com/materials-data-facility">MDF</a> is a set of data services built specifically to support materials science researchers.
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Forge</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://github.com/materials-data-facility/forge">Forge</a> is the Materials Data Facility Python package to interface and leverage the MDF Data Discovery service. Forge allows users to perform simple queries and facilitiates moving and synthesizing results.
                      </div>
                    </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MDF Connect</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://github.com/materials-data-facility/connect">MDF Connect</a>  is the Python library for easily querying, accessing, and using the data in the Materials Data Facility.
                      </div>
                   </div>
              </div>
              <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>4CeeD</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://4ceed.github.io/">4CeeD</a> Uploader and Curator are web tools used to upload, organize, and manage scientific data files and metadata.
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>