<!-- Services Section -->
    <section id="software">            
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Software and Tools</h2>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Materials Commons</h5>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>4CeeD</h5>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                    </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MAST</h5>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                   </div>
              </div>
            </div>

        </div>
    </section>