<!-- Software Section -->
    <section id="software">            
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Software and Tools</h2>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MAST</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://mast-group.github.io/">MAST</a> provides tools and workflows that make machine learning easier for materials scientists.
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Materials Commons</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://materialscommons.org/">Materials Commons</a> is a platform for organizing, collaborating, publishing and sharing research data.
                       </div>
                    </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>PRISMS-PF</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://github.com/prisms-center/phaseField">PRISMS-PF</a> is a powerful, massively parallel finite element code for conducting phase field and other related simulations of microstructural evolution.
                      </div>
                   </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MDF</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://github.com/materials-data-facility">MDF</a> is a set of data services built specifically to support materials science researchers.
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Forge</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://github.com/materials-data-facility/forge">Forge</a> is the Python library for easily querying, accessing, and using the data in the Materials Data Facility.
                      </div>
                    </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MDF Connect</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://github.com/materials-data-facility/connect">MDF Connect</a> is a one-stop solution for extracting useful information from materials data and publishing it across the materials data ecosystem.
                      </div>
                   </div>
              </div>
          </div>
              <div class="row">
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>4CeeD</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://4ceed.github.io/">4CeeD</a> Uploader and Curator are web tools used to upload, organize, and manage scientific data files and metadata.
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>Citrination</h5>
                      </div>
                      <div class="panel-body">
                        <a href="https://citrination.com/">Citrination</a> Citrination is the premier open database and analytics platform for the world's material and chemical information.
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h5>MDCS</h5>
                      </div>
                      <div class="panel-body">
                        The <a href="https://mgi.nist.gov/materials-data-curation-system">Materials Data Curation System</a> is a flexible tool for capturing, organizing, sharing, and storing materials data along the with the metadata needed to understand it.
                       </div>
                    </div>
              </div>
          </div>
              <div class="row">
                  <div class="col-xs-6 col-md-4">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                            <h5>MRR</h5>
                          </div>
                          <div class="panel-body">
                            The <a href="https://mgi.nist.gov/materials-resource-registry">Materials Resource Registry</a> provides a high-level repository of all of the organizations, data sources, tools, and informational sites useful for data-driven materials science.
                          </div>
                      </div>
                  </div>
            </div>
                  </div>
              </div>
            </div>
        </div>
    </section>